
@import "../../styles/variables.scss";

.info{
    position: relative;
    display: grid; 
    padding:4em 0 0 0;
    min-height: 80vh;
    align-items: center;
    grid-template-columns:repeat(12,1fr) ;
}
.wave{
    display: inline-block;
}
.wave:hover{
    position: relative;
    // background-color: #eee;
    /*instead of infinite you can add a number of times you want it running*/
    animation: moving infinite .7s;
 
  
  }
  .wave{
    position: relative;
    // background-color: #eee;
    /*instead of infinite you can add a number of times you want it running*/
    animation: moving 2 .7s;
 
  
  }
  @keyframes moving {
    0%{
      margin: 0;
    }
  50% {
 -webkit-transform: rotate(75deg);
  }
  100% {
    // -webkit-transform: rotate(45deg);

    }
}


.infoSummary{
    grid-column: 2/8;
    button{
        bottom:0;
    }
}

@media screen and (max-width: 48em) {
    .info{
        height: auto;
        .infoSummary{
            grid-column: 2/12;
        }
    }   

}
