// Colors
$font__color__one:#8C3EFF;
$font__color__two:#FEFDFF;
$font__color__three:#BD0FE1;
$font__color__four:#69A1AC;

$background__color:#160F31;
$selected__color:#FFCC00;
$font__color:#7c40fd;

$tooltip__border:#7946eb;
$tooltip__body:#03063d;


//Measurements
$min_width: 320px;
$max_width: 1200px;
$medium-screens: 40em;
$large-screens: 64em;
$min_font: 16px;
$max_font: 20px;