@import "../../styles/variables.scss";

.textClass{
  grid-column: 2/3;
}

.header{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    padding: .5em 0;
    align-items: center;
    // height: 70px;
    box-shadow: 0px 2px 40px rgba(60, 145, 245, 0.3);
}
.headerElements{
  grid-column: 1/8;
  
}
.mainNavLink{
  grid-column: 3/12;
  margin-left: auto;
  color: $font__color__two;
}

.navLink {
    color: $font__color__two;
    margin-bottom: 0.5em;
    padding-bottom: .3em;

    &.selected {
      border-bottom: 3px solid $selected__color;
    }
    button{
      outline:none;
      background-color: transparent;
      border:none;
      color:$font__color__two;
      font-size: $max_font;
      
    }
  }
  .navLink:hover{
    border-bottom: 3px solid $selected__color;
  }
ul{
    li{
    list-style: none;
    display: inline-block;
    margin:1em; 
    }
}

@media screen and (max-width: 48em) {
  .textClass,.mainNavLink{
margin:auto;
    grid-column: 1/-1;
  }
}